        body {
            background-color: rgba(74, 237, 248, 0.281);
        }
        
        .navbar {
            background-color: aqua;
        }
        
        nav ul li {
            display: inline-flex;
            padding: 10px;
        }