<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <nav th:replace="layout :: menu">(menu)</nav>
    <div class="container">

        <a th:href="@{/carro/novo}" class=" btn btn-primary">Novo</a>
        <button class="btn btn-primary" id="btnAlterar">Alterar</button>
        <button class="btn btn-danger" id="btnExcluir">Excluir</button>
        <table class="table" id="carros">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        ID
                    </th>
                    <th>
                        Marca   
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Motor
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umCarro : ${listaCarros}">
                    <td><input type="checkbox" th:data-id="${umCarro.id}" class="js-check"></td>
                    <td th:text="${umCarro.id}"></td>
                    <td th:text="${umCarro.marca}"></td>
                    <td th:text="${umCarro.modelo}"></td>
                    <td th:text="${umCarro.motor}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:include="layout :: footer">(footer)</div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#btnExcluir").on('click', function(){
                bootbox.confirm("Confirma a exclusão do registro?", 
                    function(result){
                        if(result){
                            $('input[type=checkbox]').each(function () {
                                if(this.checked){
                                    $.ajax({
                                        url: '/carro/delete/' + $(this).attr("data-id"),
                                        method: "GET",
                                        success : function(){
                                            window.location.href = "/carro/";
                                        }
                                    });
                                }
                            });
                        }
                });
            });
            $("#btnAlterar").on('click', function(){
                $('input[type=checkbox]').each(function () {
                    if(this.checked){
                        window.location.href = "/carro/alterar/" + $(this).attr("data-id");
                    }
                });
            });
            $("#carro").on('click',"tr", function(){
                let checkbox = $(this).find('.js-check');
                console.log(checkbox);
                checkbox.prop("checked",!checkbox.is(':checked'));
            });
        });
    </script>
</body>
</html>